/* MEDIA CELULAR  ---------------------------------------------------------------------------*/
@media (min-width: 320px) and (max-width: 575px) {
/* HEADER */
header {
    height: auto;
    position: relative; }
/* INDEX */      /* Primera seccion */
.seccion__index{
    height: 40vh;
    align-items: flex-start;
}
.articulo__uno{
    flex-direction: column-reverse;
    height: 40vh;
    align-items: flex-start;
    margin-bottom: 30px;
}
.titulo__index{
    font-size: 32px;
    margin-bottom: 5px;
}
/* INDEX */      /* segunda seccion */
.seccion__dos{
    height: 140vh;
    align-items: flex-start;
    margin-bottom: 10px;
}
.imag_nos{
    margin-bottom: 30px;
}
/* INDEX */      /* Tercera seccion */
.seccion__indextres{
    height: 45vh;
    align-items: flex-start;
    margin-bottom: 40px;
}
/* INDEX */      /* Cuarta seccion */
.seccion__indexcuatro{
    margin-bottom: 90px;
}
.imag_solucion{
    display: none;
    margin-bottom: 10px;
}
.soluciones__subtitulo {
    display: flex;
    align-items: flex-start;
    font-family: $font-weight-bold;
    font-size: 16px; 
}
.soluciones__datos {
    display: flex;
    align-items: flex-start;
    font-size: 16px; 
}
/* INDEX */      /* Quinta seccion */
.boton{
    display: flex;
    align-items: center;
    justify-content: center;
}
.interaccion{
    font-size: 16px;
    letter-spacing: 10px;
}
.seccion_cinco{
    height: 20vh;
    margin-bottom: 10px;
}
/* NOSOTROS */   /* Primera seccion */
.seccion__nos{
    height: 10vh;
    align-items: flex-start;
    justify-content: center;
}
.img__nos{
    display: none;
}
/* NOSOTROS */   /* segunda seccion */
.seccion__nosdos{
    height: 185vh;
    align-items: flex-start;
}
.imag__nuestro{
    margin-bottom: 50px;
}
.parrafo_historia{
    font-size: 16px;
}
/* NOSOTROS */    /* Tercera seccion */
.seccion__nostres{
    display: flex;
}
.div__uno{
    display: flex;
    flex-direction: column;
}
.div__dos{
    display:none;
}
/* PROYECTOS */   /* Primera seccion */
.seccion__proyectouno{
    height: 5vh;
    align-items: flex-start;
    justify-content: center;
}
.imag__dest{
    display: none;
}
/* PROYECTOS */    /* Segunda seccion */
/* GALERIA */      /* Primera seccion */
.imagenes__grid {
    height: 300vw;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "circulo" 
                        "cruz"
                        "jardin"
                        "frente"
                        "patio" 
                        "cemento"
                        "porton"; 
    }
.circulo {
    cursor: pointer; 
}
.cruz {
    cursor: pointer; 
}
.frente {
    cursor: pointer; 
}
.patio {
    cursor: pointer; 
}
.jardin {
    cursor: pointer; 
}
.porton {
    cursor: pointer; 
}
.cemento {
    cursor: pointer; 
}
/* CONTACTO */     /* Primera seccion */
.seccion_contacto{
    height: 35vh;
    display: flex;
    align-items: flex-start;
}
.enviar{
    width: 75px;
}
.arti__uno{
    flex-direction: column-reverse;
}
.titulo__contacto{
    margin-bottom: 10px;
}
/* CONTACTO */     /* Segunda seccion */
.section_dos{
    margin-bottom: 1px;
}
.botones__contacto{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.section_dos{
    height: 400px;
    align-items: flex-start;
}
.imag__cont {
    display: none; 
}
/* CONTACTO */     /* Tercera seccion */
.section_tres{
    height: 90vh;
    align-items: flex-start;
    display: flex;
    flex-direction:column;
}
.enviar{
    margin-bottom: 2px;
}
.tajeta__uno{
    width: 250px;
    margin-bottom: 30px;
}
.tajeta__dos{
    width: 250px;
    margin-bottom: 10px;
}
.iconito{
    justify-content: center;
}
.telefono{
    display: none;
}
/* FOOTER */
    .footer{
        &__grid {
            height: 275px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0.2fr 0.2fr 0fr 0fr 0.2fr;
            grid-template-areas: "footer__logo" 
                                "footer__parrafo"
                                "footer__igg"
                                "footer__link"
                                "footer__politicas";
        }
        &__logo {
            grid-column: 1/3;
            grid-row: 1/2;
            justify-self: center;
            align-self: center; 
        }
        &__parrafo {
            grid-column: 1/3;
            grid-row: 2/3;
            margin-bottom: 10px;
            font-size: 16px;
            text-align: center; 
        }
        &__igg {
            grid-column: 1/2;
            grid-row: 3/4;
            width: 30px;
            margin-bottom: 10px;
            justify-self: center;
            align-self: center; 
        }
        &__link {
            grid-column: 2/3;
            grid-row: 3/4;
            justify-self: center;
            align-self: center;
            width: 30px;
            margin-bottom: 10px; 
        }
        &__politicas {
            grid-column: 1/3;
            grid-row: 4/5;
            text-align: start;
            font-size: 16px;
            justify-self: center; 
        } 
    }
}
/* MEDIA TABLET ----------------------------------------------------------------------------- */
@media (min-width: 576px) and (max-width: 992px) {
/* HEADER */
header {
    height: auto; 
    position: relative;}
/* INDEX */     /* Primera seccion */
.seccion__index{
    height: 30vh;
    align-items: flex-start;
}
.articulo__uno{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
/* INDEX */     /* segunda seccion */
.seccion__dos{
    margin-bottom: 50px;
}
.imag_nos{
    margin-bottom: 30px;
}
/* INDEX */     /* Tercera seccion */
.seccion__indextres{
    height: 65vh;
    align-items: flex-start;
    margin-bottom: 20px;
}
/* INDEX */     /* Cuarta seccion */
.seccion__indexcuatro{
    height: 70vh;
    align-items: flex-start;
}
.imag_solucion{
    display: none;
}
/* INDEX */     /* Quinta seccion */
.boton{
    display: flex;
    justify-content: center;
}
.interaccion{
    font-size: 16px;
    letter-spacing: 10px;
}
.seccion_cinco{
    height: 15vh;
    margin-bottom: 10px;
}
/* NOSOTROS */   /* Primera seccion */
.seccion__nos{
    height: 30vh;
    align-items: flex-start;
    justify-content: center;
}
    .nosotros__titu::before {
        display: none; }
/* NOSOTROS */   /* segunda seccion */
.seccion__nosdos{
    height: 120vh;
    align-items: flex-start;
    margin-bottom: 30px;
}
.parrafo_historia{
    margin-bottom: 1px;
}
.imag__nuestro{
    margin-bottom: 30px;
}
/* NOSOTROS */   /* Tercera seccion */
.camino__nuestro{
    margin-bottom: 50px;
}
.camino__anio{
    text-align: center;
}
.camino__parrafo{
    text-align: center;
}
/* NOSOTROS */   /* Cuarta seccion */
/* PROYECTOS */   /* Primera seccion */
.seccion__proyectouno{
    height: 20vh;
    align-items: flex-start;
    justify-content: center;
}
/* PROYECTOS */    /* Segunda seccion */
.titulo__proyecto {
    text-align: center; 
}
.proyecto{
    &__imagenes {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap; }
        
    &__art {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px; 
    }
    &__imagen {
        cursor: pointer; 
    }
    &__div {
        display: flex;
        justify-content: space-between; 
    }
    &__nombre {
        display: flex;
        text-align: start; 
    }
    &__numero {
        justify-content: flex-end; 
    }
}
/* GALERIA */      /* Primera seccion */
    .imagenes__grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: " circulo cruz "
                            " jardin frente"
                            " patio cemento"
                            " porton cemento"; }
    .circulo {
        cursor: pointer; }
    .cruz {
        cursor: pointer; }
    .frente {
        cursor: pointer; }
    .patio {
        cursor: pointer; }
    .jardin {
        cursor: pointer; }
    .porton {
        cursor: pointer; }
    .cemento {
        cursor: pointer; }
/* CONTACTO */    /* Primera seccion */
.seccion_contacto{
    height: 30vh;
    display: flex;
    align-items: flex-start;
}
/* CONTACTO */    /* segunda seccion */
.botones__contacto{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ocultar{
    display: none;
}
.section_dos{
    height: 70vh;
    align-items: flex-start;
    margin-bottom: 2px;
}
/* CONTACTO */    /* Tercera seccion */
.section_tres{
    height: 35vh;
}
.contacto__tarjetas{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
}
.tajeta__uno{
    width: 200px;
    margin-bottom: 10px;
}
.tajeta__dos{
    width: 200px;
    margin-bottom: 10px;
}
.iconito{
    justify-content: center;
}
.telefono{
    display: none;
}
/* FOOTER */
.footer{
    &__grid {
        height: 225px;
        row-gap: 5px;
        column-gap: 5px;
        margin-bottom: 5px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.1fr;
        grid-template-areas:"footer__logo none none footer__parrafo" 
                            "footer__igg footer__link footer__politicas"; 
    }
    &__logo {
        margin-bottom: 15px;
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: center;
        align-self: center; 
    }
    &__parrafo {
        grid-column: 3/5;
        grid-row: 1/2;
        margin-bottom: 15px;
        font-size: 16px;
        padding: 5px; 
    }
    &__igg {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 25px;
        justify-self: center;
        align-self: center; 
    }
    &__link {
        grid-column: 2/3;
        grid-row: 2/3;
        width: 25px;
        justify-self: center;
        align-self: center; 
    }
    &__politicas {
        grid-column: 3/5;
        grid-row: 2/3;
        align-self: center;
        font-size: 16px;
        padding: 5px; 
    } 
}
}