/* MEDIA CELULAR  ---------------------------------------------------------------------------*/
@media (min-width: 320px) and (max-width: 575px) {
/* HEADER */
header {
    height: auto;
    position: relative; }
    .header{
        &__logo {
            width: 30px; 
        }
        &__nav {
            flex-direction: column;
            justify-content: center; 
            align-items: center;
        }
        &__lista {
            flex-direction: column;
            justify-content: center;
            flex-grow: 0;
            align-items: center; 
        }
}
/* INDEX */      /* Primera seccion */
.seccion__uno{
    display: flex;
}
.articulo__uno{
    flex-direction: column-reverse;
}
.imagendest__index{
    margin-bottom: 5px;
}
.titulo__index{
    font-size: 32px;
    margin-bottom: 5px;
}
/* INDEX */      /* segunda seccion */
.imag_nos{
    margin-bottom: 30px;
}
/* INDEX */      /* Tercera seccion */
/* INDEX */      /* Cuarta seccion */
.imag_solucion{
    display: none;
    margin-bottom: 10px;
}
.soluciones__subtitulo {
    display: flex;
    align-items: flex-start;
    font-family: $font-weight-bold;
    font-size: 16px; 
}
.soluciones__datos {
    display: flex;
    align-items: flex-start;
    font-size: 16px; 
}
/* INDEX */      /* Quinta seccion */
.seccion_cinco{
    margin-bottom: 10px;
}
.contacto__titulo {
    color: #1a356b;
    font-size: 32px;
}
.contacto__interaccion {
    color: #1a356b;
    font-size: 22px;
}
/* NOSOTROS */   /* Primera seccion */
.nosotros__titu::before {
    display: none; 
}
.img__nos{
    display: none;
}
/* NOSOTROS */   /* segunda seccion */
.imag__nuestro{
    margin-bottom: 50px;
}
.parrafo_historia{
    font-size: 16px;
}
/* NOSOTROS */    /* Tercera seccion */
.camino__grid {
    height: 600vh;
    grid-template-columns:1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "texto"
                        "textouno"
                        "textodos"
                        "textotres"
                        "textocuatro"
                        "textocinco"
                        "textoseis"; 
}
.texto {
    margin: 20px; }
.text-uno {
    margin: 20px; }
.textodos {
    margin: 20px; }
.textotres {
    margin: 20px; }
.textocuatro {
    margin: 20px; }
.textocinco {
    margin: 20px; }
.textoseis {
    margin: 20px; }
/* PROYECTOS */   /* Primera seccion */
    .imag__dest {
        display: none; }
    .titulo__proyecto::before {
        display: none; }
/* PROYECTOS */    /* Segunda seccion */
/* GALERIA */      /* Primera seccion */
.imagenes__grid {
    height: 300vw;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "circulo" 
                        "cruz"
                        "jardin"
                        "frente"
                        "patio" 
                        "cemento"
                        "porton"; 
    }
.circulo {
    cursor: pointer; }
.cruz {
    cursor: pointer; }
.frente {
    cursor: pointer; }
.patio {
    cursor: pointer; }
.jardin {
    cursor: pointer; }
.porton {
    cursor: pointer; }
.cemento {
    cursor: pointer; }
/* CONTACTO */     /* Primera seccion */
.seccion_contacto{
    display: flex;
}
.arti__uno{
    flex-direction: column-reverse;
}
.titulo__contacto{
    margin-bottom: 10px;
}
/* CONTACTO */     /* Segunda seccion */
.imag__cont {
    display: none; 
}
/* CONTACTO */     /* Tercera seccion */
.contacto__tarjetas {
    height: 160vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.2fr;
    grid-template-areas: "tarjeta__uno"
                        "tarjeta__dos";
    margin-bottom: 5px; 
}
.tajeta__uno {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center; 
}
.tajeta__dos {
    grid-column: 1/2;
    grid-row: 2/3; 
}
/* FOOTER */
    .footer{
        &__grid {
            height: 275px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0.2fr 0.2fr 0fr 0fr 0.2fr;
            grid-template-areas: "footer__logo" 
                                "footer__parrafo"
                                "footer__igg"
                                "footer__link"
                                "footer__politicas";
        }
        &__logo {
            grid-column: 1/3;
            grid-row: 1/2;
            justify-self: center;
            align-self: center; 
        }
        &__parrafo {
            grid-column: 1/3;
            grid-row: 2/3;
            margin-bottom: 10px;
            font-size: 16px;
            text-align: center; 
        }
        &__igg {
            grid-column: 1/2;
            grid-row: 3/4;
            width: 30px;
            margin-bottom: 10px;
            justify-self: center;
            align-self: center; 
        }
        &__link {
            grid-column: 2/3;
            grid-row: 3/4;
            justify-self: center;
            align-self: center;
            width: 30px;
            margin-bottom: 10px; 
        }
        &__politicas {
            grid-column: 1/3;
            grid-row: 4/5;
            text-align: start;
            font-size: 16px;
            justify-self: center; 
        } 
    }
}

/* MEDIA TABLET ----------------------------------------------------------------------------- */
@media (min-width: 576px) and (max-width: 992px) {
/* HEADER */
header {
    height: auto; }
    .header{
        &__logo {
            width: 30px; 
        }
        &__nav {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start; 
        }
        &__lista {
        flex-grow: 1; 
        }
    }
/* INDEX */     /* Primera seccion */
.seccion__uno{
    display: flex;
    flex-direction: row;
}
/* INDEX */     /* segunda seccion */
.imag_nos{
    margin-bottom: 30px;
}
/* INDEX */     /* Tercera seccion */
/* INDEX */     /* Cuarta seccion */
/* INDEX */     /* Quinta seccion */
.seccion_cinco{
    margin-bottom: 10px;
}
/* NOSOTROS */   /* Primera seccion */
.img__nos{
    display: none;
}
    .nosotros__titu::before {
        display: none; }
/* NOSOTROS */   /* segunda seccion */
.imag__nuestro{
    margin-bottom: 50px;
}
/* NOSOTROS */   /* Tercera seccion */
/* NOSOTROS */   /* Cuarta seccion */
/* PROYECTOS */   /* Primera seccion */
    .titulo__proyecto::before {
        display: none; }
/* PROYECTOS */    /* Segunda seccion */
    .imag__dest {
        flex-direction: column; }
    .titulo__proyecto {
        text-align: center; }
/* GALERIA */      /* Primera seccion */
    .imagenes__grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: " circulo cruz "
                            " jardin frente"
                            " patio cemento"
                            " porton cemento"; }
    .circulo {
        cursor: pointer; }
    .cruz {
        cursor: pointer; }
    .frente {
        cursor: pointer; }
    .patio {
        cursor: pointer; }
    .jardin {
        cursor: pointer; }
    .porton {
        cursor: pointer; }
    .cemento {
        cursor: pointer; }
/* CONTACTO */    /* Primera seccion */
/* CONTACTO */    /* segunda seccion */
    .imag__cont {
    display: none; 
    }
/* CONTACTO */    /* Tercera seccion */
/* FOOTER */
.footer{
    &__grid {
        height: 225px;
        row-gap: 5px;
        column-gap: 5px;
        margin-bottom: 5px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.1fr;
        grid-template-areas:"footer__logo none none footer__parrafo" 
                            "footer__igg footer__link footer__politicas"; 
    }
    &__logo {
        margin-bottom: 15px;
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: center;
        align-self: center; 
    }
    &__parrafo {
        grid-column: 3/5;
        grid-row: 1/2;
        margin-bottom: 15px;
        font-size: 16px;
        padding: 5px; 
    }
    &__igg {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 25px;
        justify-self: center;
        align-self: center; 
    }
    &__link {
        grid-column: 2/3;
        grid-row: 2/3;
        width: 25px;
        justify-self: center;
        align-self: center; 
    }
    &__politicas {
        grid-column: 3/5;
        grid-row: 2/3;
        align-self: center;
        font-size: 16px;
        padding: 5px; 
    } 
}
}