.background-centrado{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    cursor: pointer; 
}
.position-img{
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(250, 235, 215, 0.436);
    display: flex;
    align-items: center;
    justify-content: center;
}