/* LETRAS */
$font-principal:'Poppins', sans-serif;;
$font-titulos:'Open Sans', sans-serif;;
$font-parrafos:'Poppins', sans-serif;;

/* SIZE */
$total-alto: 100vh;
$total-icono:25px;
$footer-letrita:16px;

/* SIZE LETRA */
$contenido: 1rem;
$titulo: 2rem;
