@import "variables";
@import"operators";
@import "footer";
@import"header";
@import"pages/nosotros";
@import"pages/proyectos";
@import"pages/galeria";
@import"pages/contacto";


/* HEADER */
.header{
    background-color: white;
}
.nav-item{
    display: inline-block;
}
* {
    margin: 0px;
    padding: 0px; 
}
body {
    font-family: $font-principal
}
h1 {
    font-family: $font-titulos;
    color: #ea9898; }
h2 {
    font-family: $font-parrafos;
    color: rgba(113, 118, 192, 0.821); }
p {
    font-family: $font-parrafos;
    color: #1a356b; 
}
/* MAIN */
main {
    display: flex;
    /*<!--Pie de pagina  -->;*/
    flex-wrap: wrap;
    width: 100vw; 
}
/* INDEX */
/* Primera seccion */
.seccion__index{
    height: 85vh;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
/* INDEX */  /* Segunda seccion */
.seccion__indexdos{
    height: 90vh;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.nosotros__iteraccion{
    font-size: 30px;
    letter-spacing: 10px;
    color:#ea9898;
}
/* INDEX */    /* Tercera seccion */
.carousel{
    .carousel-item{
        max-height: 600px;
    }
}
.img__carousel{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.titulo__proyecto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.carousel-slide{
    display: flex;
    justify-content: center;
}
/* INDEX */    /* Cuarta seccion */
.seccion__indexcuatro{
    height: 100vh;
    display: flex;
    align-items: center;
}
.soluciones__subtitulo {
    text-align: end;
    font-size: 20px; 
}
.soluciones__datos {
    text-align: end;
    font-size: 16px; 
}
/* INDEX */      /* Quinta seccion */
.seccion_cinco {
    margin-bottom: 30px;
}
.boton{
    font-size: 30px;
    letter-spacing: 1rem;
    margin-bottom: 50px;
}
.interaccion{
    color: #ea9898
}
@import "mediaqueries";