.zoom {
    transition: transform .2s;
    overflow: hidden; 
    &:hover {
        transform: scale(1.2); 
    }
}
/* CONTACTO SEGUNDA SECCION  */
.telefono {
    display: inline; 
}
.section_dos{
    margin-bottom: 50px;
}
.contacto__tarjetas {
    display: grid;
    height: 60vh;
    grid-template-columns: 1fr 0.5fr 1fr 0.5fr 1fr;
    grid-template-rows: 0.3fr;
    margin-bottom: 5px; 
}
.tajeta__uno {
    grid-column: 2/3;
    grid-row: 1/2; 
}
.tajeta__dos {
    grid-column: 4/5;
    grid-row: 1/2; 
}