.seccion_contacto{
    height: 90vh;
    display: flex;
    align-items: center;
}
.zoom {
    transition: transform .5s;
    &:hover {
        transform: scale(1.2); 
    }
}
/* CONTACTO SEGUNDA SECCION  */
.telefono {
    display: inline; 
}
.enviar{
    width: 160px;
}
.section_dos{
    height: 80vh;
    align-items: center;
    margin-bottom: 50px;
}
.contacto__tarjetas{
    display: flex;
    justify-content: space-around;
}
.tajeta__uno{
    width: 350px;
}
.tajeta__dos{
    width: 350px;
}
/* CONTACTO SECCION TRES */
.section_tres{
    height: 60vh;
    margin-bottom: 50px;
}