.titulo__galeria{
    margin-bottom: 20px;
}
.imagenes__grid {
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    width: 100vw;
    height: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: " circulo cruz frente"
                        " patio jardin frente"
                        " patio cemento porton";
    margin-bottom: 5px; 
}
.circulo {
    grid-area: circulo;
    background-image: url("../recursos/galeria11.jpeg");
    @extend .background-centrado;
    &::before{
        content:url("../recursos/loupe_FILL0_wght400_GRAD0_opsz48.svg");
        @extend .position-img;
        transform: translate(100%);
        transition: transform .4s;
    }
    &:hover::before{
        transform: translate(0);
    }
}
.cruz {
    grid-area: cruz;
    background-image: url("../recursos/galeria10.jpeg");
    @extend .background-centrado;
    &::before{
        content:url("../recursos/loupe_FILL0_wght400_GRAD0_opsz48.svg");
        @extend .position-img;
        transform: translate(-100%);
        transition: transform .4s;
    }
    &:hover::before{
        transform: translate(0);
    }
}
.frente {
    grid-area: frente;
    background-image: url("../recursos/galeria12.jpeg");
    @extend .background-centrado ;
    &::before{
        content:url("../recursos/loupe_FILL0_wght400_GRAD0_opsz48.svg");
        @extend .position-img;
        transform: translate(-100%);
        transition: transform .4s;
    }
    &:hover::before{
        transform: translate(0);
    }
}
.patio {
    grid-area: patio;
    background-image: url("../recursos/galeria11.jpeg");
    @extend .background-centrado;
    &::before{
        content:url("../recursos/loupe_FILL0_wght400_GRAD0_opsz48.svg");
        @extend .position-img;
        transform: translate(100%);
        transition: transform .4s;
    }
    &:hover::before{
        transform: translate(0);
    }
}
.jardin {
    grid-area: jardin;
    background-image: url("../recursos/galeria7.jpeg");
    @extend .background-centrado;
    &::before{
        content:url("../recursos/loupe_FILL0_wght400_GRAD0_opsz48.svg");
        @extend .position-img;
        transform: translate(100%);
        transition: transform .4s;
    }
    &:hover::before{
        transform: translate(0);
    }
}
.porton {
    grid-area: porton;
    background-image: url("../recursos/galeria3.jpeg");
    @extend .background-centrado;
    &::before{
        content:url("../recursos/loupe_FILL0_wght400_GRAD0_opsz48.svg");
        @extend .position-img;
        transform: translate(-100%);
        transition: transform .4s;
    }
    &:hover::before{
        transform: translate(0);
    }
}
.cemento {
    grid-area: cemento;
    background-image: url("../recursos/galeria8.jpeg");
    @extend .background-centrado;
    &::before{
        content:url("../recursos/loupe_FILL0_wght400_GRAD0_opsz48.svg");
        @extend .position-img;
        transform: translate(-100%);
        transition: transform .4s;
    }
    &:hover::before{
        transform: translate(0);
    }
}