.titulo__galeria{
    margin-bottom: 20px;
}
.imagenes__grid {
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    width: 100vw;
    height: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: " circulo cruz frente"
                        " patio jardin frente"
                        " patio cemento porton";
    margin-bottom: 5px; 
}
.circulo {
    grid-area: circulo;
    background-image: url("../recursos/galeria11.jpeg");
    @extend .background-centrado;
}
.circulo::before{
    content:url("../recursos/loupe_FILL0_wght400_GRAD0_opsz48.svg");
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(250, 235, 215, 0.436);
    transform: translate(100%);
    transition: transform .4s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circulo:hover::before{
    transform: translate(0);
}
.cruz {
    grid-area: cruz;
    background-image: url("../recursos/galeria10.jpeg");
    @extend .background-centrado;
}
.cruz::before{
    content:url("../recursos/loupe_FILL0_wght400_GRAD0_opsz48.svg");
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(250, 235, 215, 0.436);
    transform: translate(-100%);
    transition: transform .4s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cruz:hover::before{
    transform: translate(0);
}
.frente {
    grid-area: frente;
    background-image: url("../recursos/galeria12.jpeg");
    @extend .background-centrado ;

}
.frente::before{
    content:url("../recursos/loupe_FILL0_wght400_GRAD0_opsz48.svg");
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(250, 235, 215, 0.436);
    transform: translate(-100%);
    transition: transform .4s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.frente:hover::before{
    transform: translate(0);
}
.patio {
    grid-area: patio;
    background-image: url("../recursos/galeria11.jpeg");
    @extend .background-centrado;
}
.patio::before{
    content:url("../recursos/loupe_FILL0_wght400_GRAD0_opsz48.svg");
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(250, 235, 215, 0.436);
    transform: translate(100%);
    transition: transform .4s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.patio:hover::before{
    transform: translate(0);
}
.jardin {
    grid-area: jardin;
    background-image: url("../recursos/galeria7.jpeg");
    @extend .background-centrado;
}
.jardin::before{
    content:url("../recursos/loupe_FILL0_wght400_GRAD0_opsz48.svg");
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(250, 235, 215, 0.436);
    transform: translate(100%);
    transition: transform .4s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.jardin:hover::before{
    transform: translate(0);
}
.porton {
    grid-area: porton;
    background-image: url("../recursos/galeria3.jpeg");
    @extend .background-centrado;
}
.porton::before{
    content:url("../recursos/loupe_FILL0_wght400_GRAD0_opsz48.svg");
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(250, 235, 215, 0.436);
    transform: translate(-100%);
    transition: transform .4s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.porton:hover::before{
    transform: translate(0);
}
.cemento {
    grid-area: cemento;
    background-image: url("../recursos/galeria8.jpeg");
    @extend .background-centrado;
}
.cemento::before{
    content:url("../recursos/loupe_FILL0_wght400_GRAD0_opsz48.svg");
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(250, 235, 215, 0.436);
    transform: translate(-100%);
    transition: transform .4s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cemento:hover::before{
    transform: translate(0);
}