.imagenes__grid {
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    width: 100vw;
    height: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: " circulo cruz frente"
                        " patio jardin frente"
                        " patio cemento porton";
    margin-bottom: 5px; }
.circulo {
    grid-area: circulo;
    background-image: url("../recursos/galeria10.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer; }
.cruz {
    grid-area: cruz;
    background-image: url("../recursos/galeria11.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer; }
.frente {
    grid-area: frente;
    background-image: url("../recursos/galeria12.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer; }
.patio {
    grid-area: patio;
    background-image: url("../recursos/galeria8.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer; }
.jardin {
    grid-area: jardin;
    background-image: url("../recursos/galeria9.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer; }
.porton {
    grid-area: porton;
    background-image: url("../recursos/render5.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer; }
.cemento {
    grid-area: cemento;
    background-image: url("../recursos/render6.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer; }