/* PROYECTOS */    /* Primera seccion */
.titulo__proyecto::before {
    content: " ";
    display: block;
    width: 5px;
    height: 10px;
    position: absolute;
    top: 367px;
    right: 245px;
    border-bottom: 3px solid grey; 
    &:hover::before {
        content: " ";
        display: inline-block;
        width: 240px;
        height: 10px;
        position: absolute;
        top: 367px;
        right: 247px;
        border-bottom: 3px solid grey;
        transition: all 2s; }
}
/* PROYECTOS */    /* Segunda seccion */
.proyecto{
    &__imagenes {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap; }
        
    &__art {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px; 
    }
    &__imagen {
        cursor: pointer; 
    }
    &__div {
        display: flex;
        justify-content: space-between; 
    }
    &__nombre {
        display: flex;
        text-align: start; 
    }
    &__numero {
        justify-content: flex-end; 
    }
}